body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Pics/signup\ background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #d7d7d77a;
    padding: 30px;
    border-radius: 40px;
    justify-content: center;
  }
  
  .title {
    font-size: 28px;
    color: rgb(39, 186, 56);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(39, 186, 56);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color:rgb(39, 186, 56);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin, .signup {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin, .signup {
    text-align: center;
    font-weight: bold;
  }
  
  .signin a {
    color: rgb(39, 186, 56);
  }
  
  .signin a:hover {
    text-decoration: underline rgb(39, 186, 56);
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 92%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(39, 186, 56);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(12, 126, 45);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }